{% extends 'main/base.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block content %} 

    <div class="container" id="landing_page">
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui sunt incidunt consectetur a quidem quisquam laboriosam atque provident doloremque, nesciunt aliquam harum assumenda officia placeat iste ut? Libero, accusamus! Voluptate.</p>
        <a href="https://openai.com/">Learn more</a>
    </div>

    <div class="blank"></div>
    
    <div class="container second" id="cards">

        <div class="item">
            <div class="img img-first"></div>
            <div class="card">
                <h3>Write Blog Post</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laudantium ex pariatur facere cumque, excepturi enim vitae laborum temporibus reprehenderit ea eius veniam dignissimos fugit quia libero quos, commodi quaerat!</p>
                <a href="{% url 'get_text' %}">Try It</a>
            </div>
        </div>

        <div class="item">
            <div class="img img-second"></div>
            <div class="card">
                <h3>Text to Code</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum cumque quas blanditiis a pariatur officiis perspiciatis repellendus facilis, consequuntur quidem architecto consectetur maiores nemo ipsa necessitatibus libero modi corporis iusto?</p>
                <a href="main/text_input.html">Try It</a>
            </div>
        </div>

        <div class="item">
            <div class="img img-third"></div>
            <div class="card">
                <h3>Explain Code</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit veritatis quos vitae consequuntur eveniet fuga quidem hic eaque rerum asperiores saepe, adipisci consequatur fugiat, maiores error officia provident beatae modi?</p>
                <a href="main/code_input.html">Try It</a>
            </div>
        </div>
        
    </div>

    <div class="blank"></div>

    <div class="footer"></div>

{% endblock %}